@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    position: relative;
    height: 100vh;
    padding: 50px;
    background-color: #2B2B2B;
    box-sizing: border-box;
}